<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nodepop</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<h1>{{title}}</h1>
		<div>
			<span>{{ __('Elige tu idioma preferido') }}:</span>
			{% for locale in getLocales() %}
				<a href="/change-locale/{{locale}}">{{locale}}</a>
			{% endfor %}
		</div>
	</header>
	
	<main>
		<form action="/" method="post">
			<aside class="filtros">
				<div class="filtro">
					<label for="nombre">{{ __('Nombre') }}</label>
					<input type="text" name="nombre" id="nombre" placeholder="{{ __('Nombre') }}" value="{% if filterByNombre %}{{filterByNombre}}{% endif %}">
				</div>
				<div class="filtro">
					<label for="venta">{{ __('Tipo de anuncio') }}</label>
					<select name="venta" id="venta">
						{% for tipo in tipos %}
							{% if tipo.value === filterByVenta %}
								<option value="{{tipo.value}}" selected>{{tipo.label}}</option>
							{% else %}
								<option value="{{tipo.value}}">{{tipo.label}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="filtro">
					<label for="precio">{{ __('Precio') }}</label>
					<div class="rango">
						<input type="number" name="preciomin" id="preciomin" placeholder="{{ __('Mínimo') }}" min="0" value="{% if filterByPreciomin %}{{filterByPreciomin}}{% endif %}">
						<input type="number" name="preciomax" id="preciomax" placeholder="{{ __('Máximo') }}" min="0" value="{% if filterByPreciomax %}{{filterByPreciomax}}{% endif %}">
					</div>
				</div>
				<div class="filtro">
					<label for="tags">{{ __('Etiquetas') }}</label>
					<select name="tags" id="tags" multiple>
						{% for tag in tags %}
							{% if tag in filterByTags %}
							<option value="{{tag}}" selected>{{tag | capitalize}}</option>
							{% else %}
							<option value="{{tag}}">{{tag | capitalize}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="filtro">
					<label for="sort">{{ __('Ordenar por') }}</label>
					<select name="sort" id="sort">
						{% for orden in ordenes %}
							{% if orden.value === sort %}
								<option value="{{orden.value}}" selected>{{orden.label}}</option>
							{% else %}
								<option value="{{orden.value}}">{{orden.label}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="filtro">
					<label for="dir">{{ __('Orden') }}</label>
					<select name="dir" id="dir">
						{% for direccion in direcciones %}
							{% if direccion.value === dir %}
								<option value="{{direccion.value}}" selected>{{direccion.label}}</option>
							{% else %}
								<option value="{{direccion.value}}">{{direccion.label}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<button type="submit">{{ __('Filtrar y ordenar') }}</button>
			</aside>
			<section class="anuncios">
				<div class="lista">
					{% for anuncio in anuncios %}
					<div class="anuncio">
						{% if anuncio.venta %}
						<div class="floating venta">{{ __('Se vende') }}</div>
						{% else %}
						<div class="floating busca">{{ __('Se busca') }}</div>
						{% endif %}
						<div class="header">
							{% if anuncio.foto %}
							<div class="imagen" style="background-image: url({{anuncio.foto}});"></div>
							{% else %}
							<div class="imagen default">
								<span>{{ __('Imagen por defecto') }}</span>
							</div>
							{% endif %}
						</div>
						<div class="content">
							<div class="title">
								<h2>{{anuncio.nombre}}</h2>
							</div>
							<div class="description">
								<div class="block">
									{% if anuncio.venta %}
									<span class="label">{{ __('Precio') }}:</span>
									{% else %}
									<span class="label">{{ __('Dispuesto a pagar') }}:</span>
									{% endif %}
									<span class="value">{{anuncio.precio | float}} euros</span>
								</div>
							</div>
						</div>
						<div class="footer">
							<div class="tags">
								{% for tag in anuncio.tags %}
								<span class="tag">{{tag}}</span>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="paginacion">
					{% for p in range(0, pages) %}
					<div class="pagina{% if p == page %} active{% endif %}">
						<button type="submit" name="page" value="{{p}}">{{p+1}}</button>
					</div>
					{% endfor %}
				</div>
			</section>
		</form>
	</main>
</body>
</html>