<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nodepop</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<h1>{{title}}</h1>
	</header>
	
	<main>
		<form action="/" method="get">
			<aside class="filtros">
				<div class="filtro">
					<label for="nombre">Nombre</label>
					<input type="text" name="nombre" id="nombre" placeholder="Nombre" value="{% if filterByNombre %}{{filterByNombre}}{% endif %}">
				</div>
				<div class="filtro">
					<label for="venta">Tipo de anuncio</label>
					<select name="venta" id="venta">
						{% for tipo in tipos %}
							{% if tipo.value === filterByVenta %}
								<option value="{{tipo.value}}" selected>{{tipo.label}}</option>
							{% else %}
								<option value="{{tipo.value}}">{{tipo.label}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="filtro">
					<label for="precio">Precio</label>
					<div class="rango">
						<input type="number" name="preciomin" id="preciomin" placeholder="Mínimo" min="0" value="{% if filterByPreciomin %}{{filterByPreciomin}}{% endif %}">
						<input type="number" name="preciomax" id="preciomax" placeholder="Máximo" min="0" value="{% if filterByPreciomax %}{{filterByPreciomax}}{% endif %}">
					</div>
				</div>
				<div class="filtro">
					<label for="tags">Tags</label>
					<select name="tags" id="tags" multiple>
						{% for tag in tags %}
							{% if tag in filterByTags %}
							<option value="{{tag}}" selected>{{tag | capitalize}}</option>
							{% else %}
							<option value="{{tag}}">{{tag | capitalize}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<button type="submit">Filtrar</button>
			</aside>
			<section class="anuncios">
				<div class="lista">
					{% for anuncio in anuncios %}
					<div class="anuncio">
						{% if anuncio.venta %}
						<div class="floating venta">Se vende</div>
						{% else %}
						<div class="floating busca">Se busca</div>
						{% endif %}
						<div class="header">
							{% if anuncio.foto %}
							<div class="imagen" style="background-image: url({{anuncio.foto}});"></div>
							{% else %}
							<div class="imagen default">
								<span>Imagen por defecto</span>
							</div>
							{% endif %}
						</div>
						<div class="content">
							<div class="title">
								<h2>{{anuncio.nombre}}</h2>
							</div>
							<div class="description">
								<div class="block">
									<span class="label">Precio:</span>
									<span class="value">{{anuncio.precio | float}} euros</span>
								</div>
							</div>
						</div>
						<div class="footer">
							<div class="tags">
								{% for tag in anuncio.tags %}
								<span class="tag">{{tag}}</span>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</section>
		</form>
	</main>
</body>
</html>