@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
}

header {
  padding: 3rem 1rem;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
main form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.anuncios .lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.anuncio {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.anuncio .floating {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 5px 12px;
}
.anuncio .floating.venta {
  background-color: #008507;
}
.anuncio .floating.busca {
  background-color: #910000;
}

.anuncio .header .imagen {
  width: 100%;
  min-height: 250px;
  background-size: cover;
  background-position: 50% 50%;
}

.anuncio .content {
  padding: 0 1rem 2rem;
}
.anuncio .content .title h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.anuncio .content .block span {
  font-size: 1rem;
}
.anuncio .content .block .label {
  font-weight: 600;
}

.anuncio .footer {
  padding: 0 1rem 1rem;
}
.anuncio .footer .tag {
  border: 1px solid #ccc;
  padding: 2px 7px;
  border-radius: 15px;
}

.filtros .filtro {
  margin-bottom: 1.2rem;
}
.filtros .filtro label {
  font-size: 1rem;
  font-weight: 600;
}
.filtros .filtro input, .filtros .filtro select {
  padding: 10px 14px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}
.filtros button {
  font-size: 1rem;
  padding: 8px 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #e5e5e5;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.filtros button:hover {
  background-color: #ccc;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
